@import '../../styles/index.scss';

.Chat {
  height: calc(100vh - #{$height-subscriber-comp} - #{$height-message-comp} - #{$height-ReturnContacts} - 1px);
  padding: 20px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: $background-chat;

  @include screen768 {
    height: calc(100vh - #{$height-subscriber-comp} - #{$height-message-comp} - 1px);
  }

  &__item {
    list-style: none;
  }
}
