@import '../../styles/index.scss';

.Chat {
  height: calc(100vh - #{$height-subscriber-comp} - #{$height-message-comp} - 1px);
  padding: 20px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: rgba(244, 236, 236, 0.5);

  &__item {
    list-style: none;
  }
}
