@import '../../styles/index.scss';

.FormAuthRegister {

  &__input-groupe {
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;

    @include screen768 {
      flex-direction: row;
    }
  }

  &__textError {
    display: block;
    height: 35px;

    color: $color-text-error;
    font-style: italic;
  }

  &__input {
    padding: 10px;
    border: 1px solid black;
  }

  &__button {
    margin: 0 auto 20px;
    width: 260px;
    height: 80px;

    display: block;

    font-size: 35px;
    font-weight: bold;
    color: rgb(181, 29, 29);

    border-radius: 10px;
    transition: all 0.3s;

    &:hover {
      background-color: blueviolet;
      color: red;
      font-size: 45px;
    }
    &:active {
      background-color: aquamarine;
    }
  }
}
