@import '../../styles/index.scss';

.RegisterPage {
  padding: 40px;
  text-align: center;

  &__title {
    margin-bottom: 20px;

    font-size: 45px;
    color: $color-sign-regester;
  }

  &__text {
    font-size: 25px;
    font-weight: bolder;
  }

  &__link {
    font-size: 45px;
    transition: color 0.3s;

    &:hover {
      color: blue;
    }
  }
}
