@import '../../styles/index.scss';

.Messenger {
  display: flex;
  flex-direction: column;

  @include screen800 {
    flex-direction: row;
  }
  
  &__contact-groupe {
    border-right: 1px solid $color-board-separator;
    border-bottom: 1px solid $color-board-separator;

    @include screen800 {
      min-width: 35%;
      max-width: 35%;
    }
  }
  
  &__chat-groupe {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-grow: 1;
    text-align: center;
    border-bottom: 1px solid $color-board-separator;
    transform: translateX(-100%);

    &:target {
      transform: translateX(0);
    }

    @include screen800 {
      position: static;
      transform: translateX(0);
    }
  }

}
