$main-background: rgb(244, 235, 235);
$background-chat: rgb(249, 245, 245);
$background-myReply: rgb(228, 218, 218);
$color-board-separator: rgba(48, 44, 44, 0.526);
$color_title-contacts: rgb(0, 221, 255);
$color-text-contacts: rgba(26, 24, 24, 0.8);
$color-text-error: red;
$color-sign-regester: rgb(0, 106, 255);
$height-subscriber-comp: 85px;
$height-message-comp: 80px;
$height-myinfo-comp: 135px;
$height-title-contacts: 70px;
$height-ReturnContacts: 40px;
