.LoginPage {
  padding: 40px;
  text-align: center;

  &__title {
    margin-bottom: 20px;

    font-size: 45px;
    color: rgb(0, 106, 255);
  }

  &__link {
    font-size: 45px;
    color: red;

    transition: color 0.3s;

    &:hover {
      color: rgb(178, 6, 6);
    }
  }

  &__button {
    margin: 0 auto 20px;
    padding: 20px;

    display: flex;

    border-radius: 10px;
    transition: all 0.3s;

    &:hover {
      color: green;
      transform: scale(1.2);
    }
  }

  &__google {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}